# Python bytecode
__pycache__/
*.pyc
*.pyo

# Environments
.venv/
venv/
env/

# IDE files
.idea/
.vscode/

# macOS
.DS_Store

# Spark checkpoints / logs
checkpoint/
tmp/

# Airflow logs
logs/
airflow_home/
